.nojs main {
	display : none;
}
.nojs section#fallback {
	display : block;
}

body {
	min-width : 400px;
}

section#fallback {
	display : none;
}

main>section {
	display : none;
}

a.siteLink {
  display : inline-block;
  width : 250px;
  white-space : nowrap;
  overflow : hidden;
  text-overflow : ellipsis;
  vertical-align: middle;
}

li img.spinner {
    padding-right: 1em;
    visibility: hidden;
}

li.spinner img.spinner {
    visibility: visible;
}

#addurl {
	width : 350px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#addurl>input[type=submit] {
	width : 80px;
}
#addurl>input[type=text] {
	width : 260px;
}

.errormessage {
	background-color: yellow;
}

#results li.warnings.folded ul{
	display : none;
}

#results li.warnings.folded ul{
	display : none;
}

.launch {
	width: 390px;
}

.empty {
	display: none;
}

.siteReport {
	width : 350px;
}