<!DOCTYPE html>
<html>
<head>
	<title>IQLab - jQuery Demo Application</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./css/main.css" />
	<link rel="stylesheet" href="css/styles-carousel.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/carousel.js" async></script>
	<script type="text/template" id="resultsTemplate">
		<ul class="siteReport">
			<li>title : {{title}}</li>
			<li>strategy : {{strategy}}</li>
			<li>score : {{score}}</li>
			<li class="warnings folded"> <a href="#">[+]</a>warnings : {{warnings}}</li>
			<li class="empty">
				<div class="carousel shadow"> 
				  <div class="carousel-button-left"><a href="#"></a></div> 
				  <div class="carousel-button-right"><a href="#"></a></div> 
					<div class="carousel-wrapper"> 
						{{imgPreview}}
					</div>
				</div>
			</li>
		</ul>
	</script>
</head>
<body class="nojs">
	<h1>Site performance checker</h1>
	<section id="fallback">
		<h2>Check your site: </h2>
		<form method="GET" action="https://www.googleapis.com/pagespeedonline/v2/runPagespeed">
			<input type="text" name="url" value="https://developers.google.com/speed/pagespeed/insights/&strategy=desktop" placeholder="site url: https://www.example.com" title="site url: https://www.example.com" required pattern="https?://.+"/>
			<input type="submit" formtarget="_blank"/>
		</form>
	</section>
	<main>
		<h2>Site list:</h2>
		<ul id="sites"></ul>
		<form action="#" id="addurl">
			<div class="errormessage"></div>
			<label>New site url:</label>
			<input type="text" placeholder="site url: https://www.example.com" title="site url: https://www.example.com" required pattern="https?://.+"/>
			<input type="submit" value="add site"/>
		</form>
		<button class="launch" disabled>Launch</button>
		<section>
			<h2>Results</h2>
			<div id="results"></div>
		</section>
	</main>
	<script src="./js/main.js"></script>
	<script>
		$(function() {
			var config = {
				"root" : $("main"),
				"siteList" : $("#sites"),
				"links" : ["http://www.adidas.com/", "http://www.reebok.ru/", "https://www.wikipedia.org/"],
				"resultsList" : $("#results")
			};
			Checker.init(config);
			<!-- Checker.init(); -->
		});
	</script>
</body>
</html>